---
import { CommonComponents } from '../commonTypes';
import './style.scss';
import {
    type Locales,
    // ModalMenuCopyright
} from 'sitemap/copyright';

type Props = {
    locale: Locales
};

// const { locale } = Astro.props;

// const Strings = ModalMenuCopyright[locale];

// const getLocaleHref = (lang) => Sitemap.getLocaleHref(page, lang);
---


<div class="mobile-menu" id={CommonComponents.MobileMenu}>
    <!-- mobile menu markup goes here -->
</div>
