---
import 'styles/base.sass';
import 'styles/about/index.sass';

import PageLayot from 'layouts/page.astro';

const PageSettings = {
	id: 'about-page',
	locale: 'en',
	title: 'About Page',
	description: 'Second astro page',
	canonical: '/about',
	image: '',
}
---

<PageLayot {...PageSettings}>
	<main id="about">
		<h1>{PageSettings.title}</h1>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
		</ul>
	</main>
</PageLayot>
