---
import 'styles/base.sass';
import 'styles/about/index.sass';

import PageLayot from 'layouts/page.astro';
import { AboutPage as PageSettings } from 'sitemap/pages';

const COPY = PageSettings.copy;
---

<PageLayot {...PageSettings}>
	<main id={`${PageSettings.id}`} data-page-id={`${PageSettings.id}`}>
		<h1>{COPY.title}</h1>
		<h1>{COPY.subtitle}</h1>
	</main>
</PageLayot>

<script type="module" src="./src/scripts/pages/aboutPage"></script>