// Insert or Import all Home page styles here
// @import './home-desktop.sass'
// @import './home-mobile.sass'
// etc.

#home
    position: relative
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    .astronaut
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: -1
    h1
        font-size: gem(90)
        color: var(--color-submarine)
    h2
        font-size: gem(50)
        color: var(--color-mercury)
