---
import { CommonComponents } from '../commonTypes';
import './style.scss';

---

<div class="preloader" id={CommonComponents.Preloader}>
    <div class="preloader__list">
        <div class="preloader__block"></div>
        <div class="preloader__block"></div>
        <div class="preloader__block"></div>
    </div>
</div>

<script src="./script.ts"></script>
